
<form  method="post" action="/default/exhibits_edit/<%=@exhibit.id%>" >

  <label for= "title"> Exhibit Title:</label>
  <input
  type = "text"
  name="title"
  id="title"
  value="<%= @exhibit.title %>"/>


  <label for= "style"> Exhibit Style:</label>
  <input
  type = "text"
  name="style"
   value="<%= @exhibit.style %>"
  id="style"/>

  <label for= "info"> Exhibit Info:</label>
  <input type = "text" name="info" value="<%= @exhibit.info %>"
  id="info"/>

  <label for="artist_id">Artist ID:</label>
    <select name="artist_id" id="artist_id">
      <% for artist in @artists %>
          <option value=<%= artist.id %>><%= artist.name %></option>
      <% end %>
    </select>

  <input type="submit" value=" Edit Exhibit">
</form>
