  <ul>
      <% for exhibit in @exhibits %>


          <p> Title: <%= exhibit.title%></p>
          <p> Style: <%= exhibit.style%></p>
          <p> Info: <%= exhibit.info%></p>
          <p> Artist:<%= exhibit.artist.name %></p>
          <p><a href="/default/exhibits_edit/<%=exhibit.id%>">edit exhibit</a></p>
          <form action="/default/exhibits/<%=exhibit.id%>/delete" method="POST">
            <input type="submit" value='Remove Exhibits'>
          </form>
            <hr/>
      <%end%>
    <ul>
